<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body>

<form >
    <legend>Adding new category</legend>
    <fieldset>
        <lable>category name
            <input type="text" id="name">
        </lable>
    </fieldset>
    <button type="button" name="confirm" value="confirm" onclick="addMethod()">Confirm</button>
</form>
</body>
</html>
<script>
    class RequestsHttp {

        // Make an HTTP PUT Request
        async post(url) {
            const categoryObject = {category_name : document.getElementById("name").value}
            // Awaiting fetch which contains
            // method, headers and content-type
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(categoryObject)
            }).then(response=> {
                return response.json()
            });
        }

        async refresh(url) {

            // Awaiting fetch which contains
            // method, headers and content-type
            const response = await fetch(url, {
                method: 'GET',
                headers: {
                    'Content-type': 'application/json'
                }
            });
        }
    }

    // Instantiating new EasyHTTP class
    const http = new RequestsHttp;

    // Update Post
    function addMethod() {
        http.post('http://localhost:8080/category')
        document.getElementById("name").value = ""
        alert('category added')
        http.refresh('http://localhost:8080/add-category');

    }
</script>