<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:tx="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All Bills</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<table>
    <thead>
<tr>
    <td>account</td>
    <td>OWE_TO</td>
    <td>In_Total</td>

</tr>
    <tr>
        <td>Bartek</td>
        <td>Ula</td>
        <td>50.0</td>
    </tr>
    </thead>
</table>
</body>
</html>