<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <title>Create and add bill</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<main>

    <form action="#" method="post" th:action="@{/create-bill}" th:object="${new_bill}">
        <fieldset>
            <legend>Bill info</legend>
            <label>shop name
                <input type="text" name="shop_name" th:field="*{shop_name}" >
            </label>
            <label>account name
                <input type="text"  name="account_name" th:field="*{account_name}">
            </label>
            <fieldset th:each="product, productStep : *{productList}">
                <legend th:text="|product ${productStep.index+1}|"/>
                <lable>product name
                    <input type="text" th:field="*{productList[__${productStep.index}__].product_name}">
                </lable>
                <lable>note
                    <input type="text" th:field="*{productList[__${productStep.index}__].product_note}">
                </lable>
                <label>price
                    <input type="number" th:field="*{productList[__${productStep.index}__].product_price}">
                </label>
                <lable>category name
                    <input type="text" th:field="*{productList[__${productStep.index}__].category.category_name}">
                </lable>
                <lable>account name
                    <input type="text" th:field="*{productList[__${productStep.index}__].account.account_name}">
                </lable>
            </fieldset>
            <div>
                <button type="submit" name="addProduct">+</button>
            </div>
        </fieldset>

        <input type="submit" name="confirm" value="confirm">
    </form>
</main>
</body>
</html>

<!--"*{shops[__${shopSteps.index}__].getId_shop()}"!-->