<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:tx="http://www.w3.org/1999/xhtml">

<HEAD>

</HEAD>
<body>
adding product
<br>
<br>



<br>
<input type="submit"  value="products" id="click"  >



    <input type="text" id="category" >
    <input  type="text" id="shop">
    <input  type="text" id="account">


    <tr th:each="products : ${products}">
    <td th:text="${products.getProduct_name()}"/>

<script>

    document.getElementById("click").onclick = function () {
        var category = document.getElementById("category").value;
        var shop = document.getElementById("shop").value;
        var account = document.getElementById("account").value;
        window.open("http://localhost:8080/products/?id_category="+category+"&id_shop="+shop+"&id_account="+account);



    }

</script>

</body>


</html>