<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:tx="http://www.w3.org/1999/xhtml">

<HEAD>

</HEAD>
<body>
<br>
<form action="#" method="get" th:action="@{/create-bill}">
    <fieldset>
        <label>Click to add bill</label>
        <div>
            <button type="submit">+</button>
        </div>
    </fieldset>
</form>
<form action="#" method="get" th:action="@{/bills}">
<!-- need to parse json from this get method not change the annotation and ResponseEntity to regular Java.Lang.String and return template!-->
    <fieldset>
        <label>show bills</label>
        <div>
            <button type="submit">+</button>
        </div>
    </fieldset>
</form>

</body>
</html>